@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap');

body {
    font-family: 'Russo One', sans-serif;
    color:  rgb(149, 57, 255);
    background-image: url(../img/BackgroundImg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headOfPage {
    padding-top: 150px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 300px;
}

.bodyOfPage {
    text-align: center;
    font-size: 30px;
}

.purposes {
    font-size: 20px;
}

img {
    width: 100%;
}

.description {
    margin-top: 0px;
    font-size: 20px;
}

.MainText {
    font-family: "Rubik Mono One", monospace;
    color: rgb(172, 95, 255);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 800px;
    margin: auto;
}

a {
    color: rgb(119, 0, 255);
}
